---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';

import workingPicture from '../images/profile_5.jpg';
---

<BaseLayout title="About | Lucas Mancini" description="Learn about myself and my background">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<Image src={workingPicture} alt="Lucas profile." />
			</Hero>

			<section>
				<h2 class="section-title">Profile</h2>
				<div class="content">
					<p>
						I am a software engineer specialising in front end and mobile app development with over a decade
						of experience. Throughout my career, I have taken on various roles, including managing greenfield
						projects, leading diverse teams, and working for startups in stealth mode as well as large
						corporations. Additionally, I have actively contributed to open-source repositories. My skill set
						encompasses excellent communication abilities, proficiency in agile methodologies, and my knowledge is
						backed by a computer science degree.
					</p>
					<p>
						I have a proven track record of building applications and delivering successful outcomes,
						particularly in startups and medium-sized businesses, many of which achieved successful exits
						within two years of my initial involvement.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Key strengths</h2>
				<div class="content">
					<ul>
						<li>Highly proficient with modern JavaScript (including Node and TypeScript), C++, Java and Clojure.</li>
						<li>Scripting with Python, Perl and Bash.</li>
						<li>Web development, responsive design, object oriented programming, design and architectural patterns.</li>
						<li>Functional programming concepts (immutability, pure functions, function composition, avoiding side effects, etc).</li>
						<li>Development of graphical user interfaces and design systems. </li>
						<li>Database schema design and querying, for both relational and NoSQL databases.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills and frameworks</h2>
				<div class="content">
					<div class="skills">
						<Pill>React</Pill>
						<Pill>CSS</Pill>
						<Pill>React Native</Pill>
						<Pill>Storybook</Pill>
						<Pill>Redux</Pill>
						<Pill>Node.js</Pill>
						<Pill>Express</Pill>
						<Pill>GraphQL</Pill>
						<Pill>PostgreSQL</Pill>
						<Pill>MongoDB</Pill>
						<Pill>CI/CD</Pill>
						<Pill>Next.js</Pill>
						<Pill>Astro</Pill>
						<Pill>Android</Pill>
						<Pill>AWS</Pill>
						<Pill>Git</Pill>
						<Pill>Styled components</Pill>
						<Pill>MUI</Pill>
						<Pill>Scrum</Pill>
						<Pill>Agile</Pill>
						<Pill>web3</Pill>
						<Pill>Webpack</Pill>
						<Pill>Vite</Pill>
						<Pill>Yarn</Pill>
						<Pill>Material design</Pill>
						<Pill>Jest</Pill>
						<Pill>React Hook Form</Pill>
						<Pill>React Testing Library</Pill>
						<Pill>D3.js</Pill>
						<Pill>Lodash</Pill>
						<Pill>react-intl</Pill>
						<Pill>Docker</Pill>
						<Pill>MFC</Pill>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formal education</h2>
				<div class="content">
					<b>Software Engineering (Ingeniería en Informática) | Universidad de Buenos Aires</b>
					<p>
						The engineering degree at the University of Buenos Aires in Argentina is comparable mostly to a Master of
						Engineering. It is a 6-year degree, with all its coursework fully dedicated to Software Engineering and
						Computer Science, ending with a (thesis-like) final project.
					</p>
				</div>
				</section>
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<div class="skills">
						<Pill>English</Pill>
						<Pill>Spanish</Pill>
						<Pill>Portuguese (basic)</Pill>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personal interests</h2>
				<div class="content">
					<ul>
						<li>Travelling (visited 45+ countries)</li>
						<li>Rock music</li>
						<li>Reading</li>
						<li>Sports: soccer, skiing, hiking</li>
						<li>Bitcoin</li>
						<li>Financial independence</li>
						<li>Mindfulness</li>
					</ul>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content > :global(* + *) {
		margin-top: 1.2rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1.5fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
