---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import yCombinatorPicture from '../images/y_combinator.webp';
---

<BaseLayout title="Philosophy | Lucas Mancini" description="My philosophy around programming">
	<div class="stack gap-20">
		<main class="wrapper intro">
			<Hero
				title="Philosophy"
				tagline="On this page, you'll find material that serves as a summary of my philosophy and beliefs regarding programming paradigms and software engineering."
			>
				<Image src={yCombinatorPicture} alt="Formula to compute the Y Combinator operator." />
			</Hero>

			<section>
				<h2 class="section-title">Main ideas</h2>
				<div class="content">
          <ul>
            <li>Regardless of the programming paradigm you use, if you focus on using the appropriate data structures and algorithms to implement a solution, you should be able to solve the majority of the problems.</li>
            <li>Complexity, in any form, is always undesirable. Strive to avoid it as much as possible.</li>
            <li>Embrace functional programming and the principles of Lisp-family programming languages. Even if you never use Lisp, understanding its key concepts will help you become a better programmer and produce higher-quality software.</li>
            <li>Follow the main guidelines of the Agile Manifesto and adapt them to your organisation's culture. Being 'agile' doesn't mean you need to hold numerous ceremonies.</li>
            <li><a href="https://youtu.be/SxdOUGdseq4?si=5hvVqY_Ibj-c8eL0" target="_blank" rel="noopener noreferrer">Simple made easy.</a></li>
          </div>
			</section>
			<section>
				<h2 class="section-title">Other interesting philosophies</h2>
				<div class="content">
					<ul>
						<li>
							<a href="https://grugbrain.dev" target="_blank" rel="noopener noreferrer">
								The Grug Brained Developer
							</a>
						</li>
						<li>
							<a href="https://programming-motherfucker.com" target="_blank" rel="noopener noreferrer">
								Programming, Motherfucker
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/pulse/pyramid-diamond-honeycomb-trophy-find-testing-strategy-fits" target="_blank" rel="noopener noreferrer">
								Pyramid, Diamond, Honeycomb, or Trophy? Find A Testing Strategy That Fits
							</a>
						</li>
						<li>
							<a href="https://languagelog.ldc.upenn.edu/myl/llog/jmc.pdf" target="_blank" rel="noopener noreferrer">
								The Roots of Lisp (by Paul Graham)
							</a>
						</li>
						<li>
							<a href="https://react.dev/learn/you-might-not-need-an-effect" target="_blank" rel="noopener noreferrer">
								You Might Not Need an Effect
							</a>
							- applies for React mostly, read this first before you decide to use any useEffect() in your code
						</li>
						<li>
							<a href="https://adamwathan.me/css-utility-classes-and-separation-of-concerns" target="_blank" rel="noopener noreferrer">
								CSS Utility Classes and "Separation of Concerns" (Adam Wathan)
							</a>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cool talks and videos</h2>
				<div class="content">
					<ul>
						<li>
							<a href="https://www.deconstructconf.com/2019/dan-abramov-the-wet-codebase" target="_blank" rel="noopener noreferrer">
								The Wet Codebase (Dan Abramov)
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/watch?v=o9pEzgHorH0" target="_blank" rel="noopener noreferrer">
								Stop Writing Classes (Jack Diedrich)
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/watch?v=xxbc3wAztl0" target="_blank" rel="noopener noreferrer">
								Rethinking Design Practices (Mark Dalgleish)
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/watch?v=pcMYcjtWwVI" target="_blank" rel="noopener noreferrer">
								So You Think You Can Build A Dropdown? (Pedro Duarte)
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/watch?v=fYo3LN9Vf_M" target="_blank" rel="noopener noreferrer">
								Railway Oriented Programming (Scott Wlaschin)
							</a>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.intro {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content > :global(* + *) {
		margin-top: 1.2rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.intro {
			display: grid;
			grid-template-columns: 1.5fr 60% 1fr;
		}

		.intro > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
