---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import desktopSetup from '../images/desktop_setup.jpg';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Uses | Lucas Mancini" description="Learn what tools I use on a daily basis">
	<div class="stack gap-20">
		<div class="wrapper stack gap-8 lg:gap-20">
		<header class="hero">
			<Hero
				title="Uses"
				tagline="Here's a bunch of things I use to get all the things done."
				align="start"
			/>

			<Image src={desktopSetup} alt="A working desktop with monitors, keyboard and a mouse." loading="eager" />
		</header>
		</div>

		<main class="wrapper stack gap-8">
			<p>Inspired by Wes Bos's Uses page, here's a list of the tools and software I use regularly. Check out uses.tech to see what everyone else /uses</p>
			<section class="box categories">
				<div class="stack gap-2 lg:gap-4">
					<Icon icon="app-window" color="var(--accent-regular)" size="2.5rem" gradient />
					<h2>Software</h2>
					<p>I am a full stack developer. My main area of experise is in the frontend, but I also have worked building backends and native mobile applications.</p>
				</div>
				<div class="stack gap-2 lg:gap-4">
					<Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
					<h2>Hardware</h2>
					<p>Managed teams as a technical individual contributor, both in-person and remotely.</p>
				</div>
				<div class="stack gap-2 lg:gap-4">
					<Icon icon="coffee" color="var(--accent-regular)" size="2.5rem" gradient />
					<h2>Caffeine</h2>
					<p>Vast experience working closely with product areas for startups and large corporations, across a wide variety of industries.</p>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>


<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.categories {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
	}

	.categories h2 {
		font-size: var(--text-lg);
	}

	.categories p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}

		.categories {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
			padding: 2.5rem;
		}

		.categories h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
